<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        <style>
            .error{color:red;}
        </style>
    </head>
    <body>
        
<h1>Signup</h1>
<form action="/" method='post'>
        
    <label for="username">Username</label>
        <input name = "username" type="text" value ='{{username}}'>
        <span class='error'>{{username_error}}</span><br>
        
    <label for="password">Password</label>
        <input name = "password" type = "password" value='{{password}}'>
        <span class="error">{{password_error}}</span><br>
        
    <label for="verify">Verify Password</label>
        <input name = "verify" type = "password" value='{{verify}}'>
        <span class="error">{{verify_error}}</span><br>
       
    </label for="email">Email (optional)</label>
        <input name = "email" value="">
        <span class= 'error'>{{email_error}}</span><br>
    
    <input class="submit-button" type = "submit" value="Submit">
        
    </form>
</body>
</html>
    
    